{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class=" header header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img src="/media/teapeople.jpg" alt="Image placeholder" class="img-fluid rounded">
              
            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          
          
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="logo-font">Tea People</h2>
          </div>
          <p class="text-white">At Tea People, we want to educate you about the finest teas in the world and all their fabulous health benefits. Our teas are sourced from around the world. Red Tea form India, green tea for China and black tea from Sri Lanka. You can also try the whimsical wonder of Hong Kong bubble tea from the comfort of your own home.</p>
                <p><a href="{% url 'products' %}" class="btn-lg btn-black rounded-0 logo-font">Shop Now</a></p>
            </div>

      </div>
    </div>
  </div>
  
{% endblock %}