html {
    height: 100%;
}

body {
    
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(241, 132, 227);
    font-family: 'Lato', sans-serif;
    background-color: black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: rgb(241, 132, 227);
}

.nav-link {
    color: rgb(241, 132, 227);
}

.logo-font {
    
    font-family: 'Permanent Marker', cursive;
    color: rgb(241, 132, 227);
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background:rgb(241, 132, 227);
    color: white;
    min-width: 260px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}



.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background: black;
    color: rgb(241, 132, 227);
}

.text-black {
    color: #222;
}

.border-black {
    border: 1px solid black;
}

.dropdown-item {
    color: rgb(241, 132, 227);
}





/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}