{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="container container-fluid my-5">
        <h2 class="text-center">{{ post.title }}</h2>
        <div class="row justify-content-center">
            <!-- Post Content -->
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="post-img-container">
                        {% if post.image %}
                            <img  class="card-img-blog" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}">
                        {% else %}
                            <img  class="card-img-blog" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}"/>
                        {% endif %}
                </div>
            </div>
            
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="post">
                        <p><span><i class="fas fa-feather"></i> {{ post.author|upper }}</span> </p>
                        <p> <span><i class="fas fa-calendar-check"></i> {{ post.created_on }}</span></p>
                    </div>
                </div>
                <div class="post-page-content">
                    <div col="col-lg-8 col-md-10 col-sm-12">
                        <p>{{ post.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(".content p").each(
                function() {
                    $(this).css("color", "rgb(241, 132, 227)"); 
                    $(this).css("font-family", "Permanent Marker, cursive");
                }
            )
        </script>   
   
        
{% endblock %}